<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a gab</title>
  </head>
  <body>
    <div class="navbar">
      <span>home</span><span>new gab</span><span>logged in as</span><span>log out</span>
    </div>
    

    </form>
  </body>
</html>
