<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Gabble Signup</title>
  <link rel="stylesheet" href="signupstyles.css">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fredoka+One|Luckiest+Guy|Pacifico|Shrikhand" rel="stylesheet">
</head>

<body>

  <div class="bodywrapper">

    <form action="/signup" method="post">
      <h1 class="h1">Sign Up</h1>
      <fieldset>
        <div class="labelwrap2">
        <div class="labelwrap">
        <label for="name">Name</label>
        <input required type="text" name="name" placeholder="name">
        </div>
        <div class="labelwrap">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="example@example.com">
        </div>
      </div>
        <div class="labelwrap2">
        <div class="labelwrap">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="name">
        </div>
        <div class="labelwrap">
        <label for="password">Password</label>
        <input type="text" name="password" placeholder="password">
        </div>
      </div>
        <div class="form__submit-button">
          <input type="submit">
        </div>
      </fieldset>
    </form>

    <div class="welcome">
    <section class="headerwrapper">
      <div>Welcome to</div>
      <div class="gabble">Gabble</div>
    </section>
    <section class="buttonwrapper">
      <div class="signup">
        <h1>Not a member?</h1>
        <h2><a href="/signup">sign up</a></h2>
      </div>
      <div class="login">
        <h1>Already a member?</h1>
        <h2><a href="/login">log in</a></h2>
      </div>
    </section>
  </div>




  </div>
</body>

</html>
