* {
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, .57);
transition-duration: .1s;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
}

.bodywrapper {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column nowrap;
}

.navbar {
  width: 150px;
  margin-left: 2vw;
  margin-top: 15vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  font-family: 'Luckiest Guy', cursive;
  color: darkgray;
}

label {
  font-family: 'Pacifico', cursive;
}

ul {
  width: 30vw;
  display: flex;
  flex-flow: column wrap;
}

li {
  display: flex;
  flex-flow: row wrap;
  color: darkgray;
  font-family: sans-serif;
  list-style: none;
}

span {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding-top: 8px;
  margin: 8px 10px 5px 10px;
}

span:hover {
  margin: 0vw 2vw 0vw 0vw;
  color: black;
  font-size: 23px;
  cursor: pointer;
}

h1 {
  display: flex;
  margin-left: 2vw;
  align-self: flex-start;
  margin-left: 2vw;
  font-family: 'Pacifico', cursive;
}
