* {
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition-duration: 1s;
}

body {
  font-family: sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

.bodywrapper {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column nowrap;
}

.headerwrapper {
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.gabble {
  font-size: 60px;
  color: darkgray;
  font-family: 'Luckiest Guy', cursive;
}

.buttonwrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-right: 16px;
  border-right-color: black;
  border-right-style: dashed;
  border-right-width: 2px;
  padding-right: 30px;
}

.signup h2 a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  color: darkgray;
  font-family: 'Luckiest Guy', cursive;
}

.login h2 a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  color: darkgray;
  font-family: 'Luckiest Guy', cursive;
}

.signup h2 a:hover {
  text-decoration: none;
  font-size: 35px;
  color: black;
  font-family: 'Luckiest Guy', cursive;
}

.login h2 a:hover {
  text-decoration: none;
  font-size: 35px;
  color: black;
  font-family: 'Luckiest Guy', cursive;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 16px;
}